<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dao" class="com.jrd.test.dao.CarDaoImpl">
    </bean>

    <bean id="manager" class="com.jrd.test.manager.CarManagerImpl">
    	<property name="dao" ref="dao"></property>
    	<property name="cacheManager" ref="cacheManager" />
    </bean>

    <bean id="service" class="com.jrd.test.service.CarService">
    	<property name="manager" ref="manager"></property>
    </bean>

</beans>